body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

/*  Header  */
.header {
    background-color: #3b524b;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

/*  Card Layout  */
.card {
    background-color: white;
    width: 80%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h2 {
    margin-top: 0;
    color: #000000;
}

/*  Student Info  */
.student-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.student-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #2a4261;
}

.info-text p {
    margin: 6px 0;
}

/*  Table  */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

table th {
    background-color: #2a4261;
    color: white;
}

/*  GPA  */
.gpa-total {
    margin-top: 15px;
    font-size: 18px;
}

/*  Footer  */
.footer {
    text-align: center;
    padding: 15px;
    background-color: #49514e;
    margin-top: 40px;
    color: #ffffff;
}

/*  Back Link  */
.back-link {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    color: #2c7be5;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
    color: #1a5fc4;
}

